<!-- start custom head snippets -->
<script defer src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>
<script defer src="https://unpkg.com/ical.js@1.5.0"></script>
<script defer src="/assets/js/script.js"></script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="/favicon-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="/favicon-180x180.png">
<meta name="msapplication-TileImage" content="/favicon-270x270.png">

<!-- end custom head snippets -->
